.authorisation {
    background-color: white;
    width: fit-content;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    display: grid;
    border-radius: 10px;
}

.authorisation input {
    width: 300px;
    padding: 10px;
    border: solid 1px #4595f3;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 30px;
}

.authorisation button {
    background-color: #4595f3;
    color: white;
    padding: 2px;
    font-size: 20px;
}

.authorisation p {
    font-size: 20px;
}

.authorisation h1 {
    margin-bottom: 0px;
}