.catalog_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

.catalog {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.catalog_menu {
    min-height: 100vh;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#catalog_header {
    display: flex;
}

.catalog_filters {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    display: grid;
}

.catalog_filters > button {
    background-color: #4595f3;
    color: white;
    padding: 2px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
}

.catalog_order {
    margin-left: auto;
    width: 200px;
    text-align: right;
    position: relative;
}

.catalog_title {
    width:fit-content;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

#catalog_input {
    padding: 5px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #4595f3;
    margin-top: 10px;
}

.catalog_item div {
    border: solid 1px rgb(120, 120, 120);
    border-radius: 5px;
    height: 180px;
    width: 120px;
    overflow: hidden;
}

/*TODO: Нужно центрировать*/
.catalog_item div img {
    height: 180px;
    width: auto;
}

.catalog_item p {
    font-size: 18px;
}

.genre_name {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter_genres .menu {
    left: 0;
}

.filter_genres {
    position: relative;
    margin-top: 10px;
}

#genre_choose_button {
    background-color: #d7d7d7;
    border-radius: 5px;
}

.filter_range {
    display: grid;
    margin-top: 10px;
}

.filter_range > div {
    display: flex;
    justify-content: space-between;
}

.filter_range hr {
    margin: 10px 10px;
	padding: 0;
	height: 0;
    width: 10px;
	border: none;
	border-top: 1px solid #333;
}

.filter_range input {
    width: 100px;
}