A {
    text-decoration: none;
    color: black;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

body {
    margin: 0px;
}

.main_wrapper {
    min-height: 100vh;
    background-color: #e5e5e5;
}

.menu {
    display: grid;
    grid-template-columns: 1f;
    padding: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0,0.25);
    border-radius: 3pt;
    position: absolute;
    background-color: white;
    right: 0;
    z-index: 2;
}

.menu * {
    margin: 2px;
}

.choose_button img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.choose_button {
    display: flex;
    align-items: center;
}