.game_page {
    display: flex;
}

.game_page > div {
    margin: 10px;
}

.image_container {
    border: solid 1px rgb(120, 120, 120);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image_container > img {
    height: 300px;
    width: auto;
}

.favorite_button {
    height: fit-content;
    padding: 2px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

#del_from_favorite {
    border: red 2px solid;
    color: red;
}

#del_from_favorite:hover {
    color: white;
    background-color: red;
}

#add_to_favorite {
    border: #4595f3 2px solid;
    color: #4595f3;
}

#add_to_favorite:hover {
    color: white;
    background-color: #4595f3;
}

.game_info {
    width: 100%;
    min-height: 100vh;
}

.game_info > h2 {
    padding: 20px;
    padding-left: 0;
    margin: 0;
}

.game_info > div {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}

.game_info h3 {
    margin: 0;
    margin-bottom: 10px;
    width: fit-content;
    border-bottom:#4595f3 1px solid;
    font-weight: 500;
}

.game_genre {
    padding: 2px;
    margin-right: 5px;
    font-size: 18px;
    color: rgb(100, 100, 100);
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}