.header {
    background-color: #4595f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.header a {
    color:white;
    display: flex;
    align-items: center;
    padding: 2pt;
}

.header div {
    color:white;
    display: flex;
    align-items: center;
    padding: 2pt;
}

.header img {
    height: 12pt;
    width: 12pt;
    padding: 2pt;
}

#logo {
    font-family: 'Aoboshi One';
    font-weight: 700; 
}

#avatar {
    height: 20pt;
    width: 20pt;
}

.auth_div {
    border: solid;
    border-width: 1pt;
    border-color: white;
    border-radius: 5pt;
    padding: 2pt;
    margin-left: 2pt;
    margin-right: 2pt;
}

.account_info {
    width: 180px;
    display: flex;
    justify-content: right;
}