.profile {
    background-color: white;
    margin:10px;
    min-height: 100vh;
    padding: 30px;
    border-radius: 10px;
}

.profile_header {
    display: flex;
    width: 100%;
    height: fit-content;
}

.profile_header > div {
    border: solid 1px rgb(120, 120, 120);
    border-radius: 5px;
    height: 150px;
    width: 150px;
    overflow: hidden;
} 

.profile_header > div > img {
    height: 150px;
    width: auto;
}

.profile_header > a {
    color: gray;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
}

.profile_header > a:hover {
    color:rgb(48, 48, 48)
}

.profile_header h2 {
    margin: 10px 20px;
}

.favorite_list {
    display: grid;
}

.favorite_list h3 {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #4595f3;
    width: fit-content;
}

.favorite_item {
    border-bottom: 1px solid #333;
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.favorite_item > div {
    border: solid 1px rgb(120, 120, 120);
    border-radius: 5px;
    height: 100px;
    width: 70px;
    overflow: hidden;
}

.favorite_item > div > img {
    height: 100px;
    width: auto;
}

.favorite_item a {
    font-size: 20px;
    margin: 10px;
    margin-top: 0px;
}

.favorite_item button {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 0px;
    height: fit-content;
    padding: 2px;
    border: red 2px solid;
    border-radius: 5px;
    color: red;
    font-size: 16px;
}

.favorite_item button:hover {
    color: white;
    background-color: red;
}