.settings {
    background-color: white;
    margin:10px;
    display: grid;
    padding: 30px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.settings > div {
    display: flex;
}

.settings h2 {
    margin-top: 0;
}

.settings p {
    font-size: 20px;
    margin: 0;
}

.settings input {
    padding: 10px;
    height: fit-content;
    font-size: 15px;
    border: #4595f3 1px solid;
    border-radius: 5px;
}

.settings_wrapper > div {
    border: solid 1px rgb(120, 120, 120);
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.settings_wrapper > div > img {
    height: 200px;
    width: auto;
}

.settings > button {
    background-color: #4595f3;
    color: white;
    padding: 2px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.settings_wrapper {
    display: grid;
    margin-right: 30px;
}

.settings_wrapper > input {
    font-size: 20px;
    color: gray;
}

.settings_wrapper > input:hover {
    color:rgb(48, 48, 48)
}

.settings_wrapper > label {
    position: relative;
	display: inline-block;
}

.settings_wrapper span {
    width: 100%;
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 20px;
	color: grey;
	text-align: center;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0;
}

.settings_wrapper span:hover {
    color:rgb(48, 48, 48)
}

.settings_wrapper input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}